# temporary: hides LaTeX build artifacts from the editor file tree
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.DS_Store
*.pdf

# python / runs
__pycache__/
*.py[codz]
.venv
.venv-*/
uv.lock
.pytest_cache/
outputs/
multirun/
wandb/
latest-run
scratch/
data/
weights/
src/thesis/scripts/b601/.env
